html,body{

width:100%;
height:100%;
margin: 0;
padding: 0;
font-family: "Hiragino Kaku Gothic OriN","Meiryo",sans-serif;

}

/*facebook 高さ調整用*/
	.fb_iframe_widget > span {
	
		vertical-align: baseline !important;
	
	}

.table	{
	width:90%;
	border:3px solid #0000ff; 
	margin: 0;
	padding: 10px;
	margin-bottom:10px;
	text-align: center;
	border-radius: 10px;
	-webkit-border-radius: 10px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 10px;	/* Firefox用 */
	text-align: left;
}

#header{
position: fixed;
width: 100%; 
text-align: center;
background-color:#0000ff;
padding: 5px 0 10px 0;
z-index:10;
}

ul {
	list-style-type: none;
	padding: 5px 0 10px 0;
	margin: 0;
}
li {
	cursor: pointer;
	padding: 3px 0 3px 0;
	/*background: linear-gradient(#5882FA, #0040FF);
	background: -webkit-linear-gradient(#5882FA, #0040FF);
	background: -moz-linear-gradient(#5882FA, #0040FF);
	border-radius: 5px;
	-webkit-border-radius: 5px;	
	-moz-border-radius: 5px;	Firefox用 */
	width: 23%;
}
.menu {
	text-align: center;
}
.menu li {
	display: inline-block;
}

a{
	color: #ffffff;
	text-decoration: none;
}

a:hover{
	color: #7A7878;
	text-decoration: none;
}

.list{
	display: block;
}

.tr_sns{

	border:3px solid #F781F3; 
	border-radius: 10px;
	-webkit-border-radius: 10px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 10px;	/* Firefox用 */
	padding: 10px 10px 5px 10px;

}

#fotter{
position: fixed;
width: 100%;
bottom: 0;
background-color:#0000ff;
color:#ffffff;
padding: 0;
z-index:10;
text-align: center;
}

#con_main{

width:100%;
padding: 100px 0 80px 0;
background-attachment:fixed;
background-color:#ffffff;

}

#makebutton{
	background: linear-gradient(#5882FA, #0040FF);
	background: -webkit-linear-gradient(#5882FA, #0040FF);
	background: -moz-linear-gradient(#5882FA, #0040FF);
	border-radius: 10px;
	-webkit-border-radius: 10px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 10px;	/* Firefox用 */
	color: #ffffff;
	padding: 5px 10px 5px 10px;
	border-style: none;
	
}